In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    "https://gitlab.com/milliams/data_analysis_python/raw/master/cetml1659on.dat",  # file name
    skiprows=6,  # skip header
    delim_whitespace=True,  # whitespace separated
    na_values=['-99.9', '-99.99'],  # NaNs
)
df.head()

      JAN  FEB  MAR  APR   MAY   JUN   JUL   AUG   SEP   OCT  NOV  DEC  YEAR
1659  3.0  4.0  6.0  7.0  11.0  13.0  16.0  16.0  13.0  10.0  5.0  2.0  8.87
1660  0.0  4.0  6.0  9.0  11.0  14.0  15.0  16.0  13.0  10.0  6.0  5.0  9.10
1661  5.0  5.0  6.0  8.0  11.0  14.0  15.0  15.0  13.0  11.0  8.0  6.0  9.78
1662  5.0  6.0  6.0  8.0  11.0  15.0  15.0  15.0  13.0  11.0  6.0  3.0  9.52
1663  1.0  1.0  5.0  7.0  10.0  14.0  15.0  15.0  13.0  10.0  7.0  5.0  8.63

How many years had a negative average temperature in January?

In [3]:
df["JAN"] < 0

1659    False
1660    False
1661    False
1662    False
1663    False
        ...
2015    False
2016    False
2017    False
2018    False
2019    False
Name: JAN, Length: 361, dtype: bool

In [4]:
negative_jan = df[df["JAN"] < 0]
negative_jan.head()

      JAN  FEB  MAR  APR   MAY   JUN   JUL   AUG   SEP   OCT  NOV  DEC  YEAR
1684 -3.0 -1.0  3.0  6.5  13.0  15.0  16.0  15.5  12.0  11.0  3.0  4.0  7.95
1695 -1.0  0.5  3.5  5.5   9.0  13.0  13.5  13.0  11.5   9.0  5.5  4.0  7.29
1709 -1.5  2.0  3.0  9.0  12.0  14.5  15.5  15.5  13.5  10.0  7.5  3.5  8.74
1716 -2.0  3.0  4.5  9.0  10.5  14.0  15.5  15.5  12.5   9.5  5.5  3.0  8.38
1740 -2.8 -1.6  3.9  6.4   8.6  12.8  15.3  14.7  14.0   5.3  3.3  2.2  6.86

In [5]:
len(negative_jan)

20

What was the average temperature in June over the years in the data set?

In [6]:
df["JUN"].mean()

14.334903047091412