<a href="https://colab.research.google.com/github/jonathanfrawley/data_analysis_and_machine_learning_course/blob/master/analysis_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

url = "https://data.yorkopendata.org/dataset/d2251771-3ea7-4bf2-ba5c-2d036df573b4/resource/0db2940c-0d57-48b4-a50c-be05e3ab0e37/download/kpi-hlth05a.csv"
c = pd.read_csv(url)

In [13]:
c

     KpiId           KpiName  ...     EndDate CollectionFrequency
0  HLTH05a  Obese adults (%)  ...  2015-03-31              Annual

[1 rows x 8 columns]